body {
    background-color:  #000D6B;
}
.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.5fr 2fr 1fr;
    grid-gap: 1rem;
    grid-template-areas:
    "header header header"
    "sidebar main aside"
    "sidebar footer aside";
    text-align: center;
    max-width: 900px;
    margin: 0 auto;
    
}

.header {
    text-align: center;
    grid-column-start: 1;
    grid-column-end: span 3;
    grid-row-end: 2;
    background-color: #9C19E0;
}

.sidebar {
    display: grid;
    grid-row-start: 2;
    grid-row-end: span 2;
    grid-column-end: 2;
    background-color: #9C19E0;
}

.main {
    text-align: center;
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 2;
    background-color: #9C19E0;
}
.gameBoard {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}
.cell {
    width: 96px;
    height: 96px;
    border: 3px solid #000D6B;
    cursor: pointer; 
    color: rgba(0, 0, 0, 0);
    background-size: cover;
}

.aside {
    display: grid;
    grid-row-start: 2;
    grid-column-start: 3;
    grid-row-end: span 2;
    background-color: #9C19E0;
}

.footer {
    grid-row-start: 3;
    grid-column-start: 2;
    grid-column-end: 3;
    background-color: #9C19E0;
}

.playerX {
    color: #FF5DA2;
}
.playerO {
    color: #99DDCC;
}

.hidden {
    color: transparent;
}



.charSelect {
    margin: auto auto;
    grid-row-start: 1;
    grid-row-end: 1;
}
.icon {
    width: 96px;
    height: 96px;
    border: 2px solid #000D6B;
    cursor: pointer; 
    background-size: cover;
}

span {
    position: relative;
    bottom: 0px;
}
