body {
    background-color:  #f7fff7;
}
.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.5fr 2fr 1fr;
    grid-gap: 1rem;
    text-align: center;
    max-width: 900px;
    margin: 0 auto;
    font-family: 'Indie Flower', cursive;
    padding: 20px;
    
}

.header {
    text-align: center;
    grid-column-start: 1;
    grid-column-end: span 3;
    grid-row-end: 2;
    background-color: #fdfcdc;
    border: 2px solid black;
    border-radius: 25px;
}

.sidebar {
    display: grid;
    grid-row-start: 2;
    grid-row-end: span 2;
    grid-column-end: 2;
    background-color: #fdfcdc;
    border: 2px solid black;
    border-radius: 25px;
}

.main {
    text-align: center;
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 2;
    
    border-radius: 25px;
}
.gameBoard {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    
}
.cell {
    width: 96px;
    height: 96px;
    border: 2px solid black;
    margin: 1px;
    border-radius: 15px;
    cursor: pointer; 
    color: rgba(0, 0, 0, 0);
    background-size: cover;
    background-color:  #f6efff;
}
.cell:hover {
    background-color: rgba(0, 128, 0, 0.301);
}

.aside {
    display: grid;
    grid-row-start: 2;
    grid-column-start: 3;
    grid-row-end: span 2;
    background-color: #fdfcdc;
    border: 2px solid black;
    border-radius: 25px;
}

.footer {
    grid-row-start: 3;
    grid-column-start: 2;
    grid-column-end: 3;
    background-color: #fdfcdc;
    border: 2px solid black;
    border-radius: 25px;
    line-height: 20px;
}

.gameOver {
    color: transparent;
}

.playerX {
    color: #FF5DA2;
}
.playerO {
    color: #99DDCC;
}




.charSelect {
    margin: auto auto;
}
.icon {
    width: 96px;
    height: 96px;
    border: 2px solid black;
    cursor: pointer; 
    margin: 1px;
    border-radius: 15px;
    background-size: cover;
    background-color: #f6efff;
}
.icon:hover {
    background-color: rgba(0, 128, 0, 0.301);
}
span {
    position: relative;
    bottom: 0px;
}

#reset {
    cursor: pointer;
}

#reset:hover {
    color: rgba(0, 128, 0, 0.479);
}

.tie {
    color: black;
}

.selectedIcon {
    background-color: rgba(0, 128, 0, 0.301);
}

p {
    margin: 0;
    line-height: 5px;
}

.AI {
    cursor: pointer;
}

.AI:hover {
    color: rgba(0, 128, 0, 0.479);
}

@media screen and (min-width: 450px) and (max-width: 600px) {
    .container {
        max-width: 450px;
    }
    .gameBoard {
        top: 50%;
        transform: translateY(50%);
    }
    .cell {
        width: 48px;
        height: 48px;
    }
    .icon {
        width: 48px;
        height: 48px;
    }
}

